<div class="main-block">
  <h1 class="main-title">Shorten your link!</h1>
  <form (ngSubmit)="onSubmit()" #form="ngForm">
    <mat-form-field appearance="outline" style="width: 100%">
      <mat-label>Your url</mat-label>
      <input type="text" name="originalUrl" ngModel required matInput>
    </mat-form-field>
    <button mat-raised-button color="primary">SHORTEN</button>
  </form>
  <div class="short-link-block" style="margin-top: 50px">
    <h2>Your link now looks like this:</h2>
    <a href="https://google.com" target="_blank">http://google.com</a>
  </div>
</div>
